# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
tfplan
.terraform.tfstate.lock.info

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
